.digg_pagination {
	background: white;
	cursor: default;
	margin: 10px;
	padding:5px;
	box-shadow: 0px 0px 8px #000000;
	a, span, em {
		padding: 0.2em 0.5em;
		display: block;
		float: left;
		margin-right: 1px;
	}
	.disabled {
		color: #999999;
		border: 1px solid #dddddd;
	}
	.current {
		font-style: normal;
		font-weight: bold;
		background: #000000;
		color: #fff;
		border: 1px solid #000000;
	}
	a {
		text-decoration: none;
		color: #000000;
		border: 1px solid #000000;
		&:hover, &:focus {
		  color: #000033;
		  border-color: #000033;
		}
	}
	.page_info {
//		background: #000000;
		color: #000;
		padding: 0.4em 0.6em;
		width: 22em;
		margin-bottom: 0.3em;
		text-align: center;
		b {
			color: #000033;
//			background: #BABABA;
			padding: 0.1em 0.25em;
		}
	}
	.pagination {
		margin: 0;
	}
}