%table
	- @parameters.each do |p|
		%tr.parameter
			%td
				%div
					%p.label Unit
					= p.unit
				%div
					%p.label Source
					= p.source
				%div
					%p.label Expression
					= p.expression
				%div
					%p.label Description
					= p.description
			