%table.params-table
	%tr
		%th 
			Description
		%th 
			Unit
		%th 
			Source
		%th 
			Expression
	- @parameters.each do |p|
		%tr.parameter
			%td= p.description
			%td= p.unit
			%td= p.source
			%td= p.expression
			