- @parameters.each do |p|
	.parameter
		%div
			.label Unit
			= p.unit
		%div
			.label Source
			= p.source
		%div
			.label Expression
			= p.expression
		%div
			.label Description
			= p.description
			